<h1>
  Noveno Heroe <small>{{ heroe.superhero }}</small>
</h1>
<mat-divider> </mat-divider>
<div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-form-field fxFlex="100" fxLayout.xs="column">
        <mat-label>Nombre del Héroe:</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.superhero" required />
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Nombre Común:</mat-label>
        <input matInput type="text" [(ngModel)]="heroe.alter_ego" required />
      </mat-form-field>
    </div>

    <mat-form-field fxFlex="100">
      <mat-label>Primera aparición:</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="heroe.first_appearance"
        required
      />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Personajes:</mat-label>
      <input matInput type="text" [(ngModel)]="heroe.characters" required />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Creador:</mat-label>
      <mat-select [(ngModel)]="heroe.publisher" required>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Foto Url:</mat-label>
      <input matInput type="url" [(ngModel)]="heroe.alt_img" required />
    </mat-form-field>

    <mat-divider></mat-divider>
    <hr />
    <div fxLayout="row" fxLayoutGap="20px">
      <div fxLayout="column">
        <button
          mat-raised-button
          color="basic"
          (click)="actualizar()"
          *ngIf="heroe.id"
        >
          <mat-icon>add</mat-icon>
          actualizar
        </button>
      </div>
      <div fxLayout="column">
        <button
          mat-raised-button
          color="warn"
          (click)="eliminar()"
          *ngIf="heroe.id"
        >
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>
      </div>
      <div fxLayout="column">
        <button
          mat-raised-button
          color="primary"
          (click)="guardar()"
          *ngIf="!heroe.id"
        >
          <mat-icon>add</mat-icon>
          Agregar
        </button>
      </div>
    </div>
  </div>

  <div fxFlex="50" fxLayout="column"><img [src]="heroe | imagen" /></div>
</div>
