<h1>Noveno Heroe <small>asd</small></h1>
<mat-divider> </mat-divider>
<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">
    <div fxLayout="row" fxLayoutGap="20px">
      <mat-form-field fxFlex="100">
        <mat-label>Nombre del Héroe:</mat-label>
        <input matInput type="text" required />
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Nombre Común:</mat-label>
        <input matInput type="text" required />
      </mat-form-field>
    </div>

    <mat-form-field fxFlex="100">
      <mat-label>Primera aparición:</mat-label>
      <input matInput type="text" required />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Personajes:</mat-label>
      <input matInput type="text" required />
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Creador:</mat-label>
      <mat-select>
        <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
          {{ publisher.descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="100">
      <mat-label>Foto Url:</mat-label>
      <input matInput type="url" required />
    </mat-form-field>

    <mat-divider></mat-divider>
    <button mat-raised-button color="primary">
      <mat-icon>add</mat-icon>
      Agregar
    </button>
  </div>

  <div fxFlex="50"><img [src]="heroe | imagen" /></div>
</div>
