<h2>Listados de Heroes</h2>
<mat-divider></mat-divider>
<br />

<!--Cards-->
<div class="flex-row flex-wrap">
  <div class="20">
    <mat-card *ngFor="let heroe of heroes">
      <mat-card-header>
        <mat-card-title>{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/heroes/{{ heroe.id }}.jpg" />
      <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
          <strong>Primera aparición:</strong> {{ heroe.first_appearance }}
          <br />
          <strong>Personajes:</strong> {{ heroe.characters }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Leer más...</button>
        <button mat-raised-button color="accent">Editar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
